<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
  <div class="container">
    <a style="font-size: 24px; font-weight: bold;" class="d-none d-lg-inline navbar-brand" href="{{ '/' | relative_url }}">
      Althea
    </a>
    <a style="font-size: 32px; font-weight: bold;" class="d-lg-none navbar-brand" href="{{ '/' | relative_url }}">
      Althea
    </a>
    <button class="navbar-toggler" style="border: none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="{{ '/images/menu.jpg' || relative_url }}" />
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <div class="navbar-nav top-nav">
        <a class="nav-item btn" href="{{ '/about' | relative_url }}" role="button">About</a>
        <a class="nav-item btn" href="{{ '/how-it-works' | relative_url }}" role="button">How it works</a>
        <a class="nav-item btn" href="{{ '/#case-studies' | relative_url }}" role="button">Cases</a>
        <a class="nav-item btn" href="{{ '/blog' | relative_url }}" role="button">Blog</a>
        <a class="d-lg-none nav-item btn" href="{{ '/#get-involved' | relative_url }}" role="button">Get Involved</a>
        <a class="d-none d-lg-inline nav-item btn btn-primary" href="{{ '/#get-involved' | relative_url }}" role="button">Get Involved</a>
      </div>
    </div>
  </div>
</nav>
