<div class="card" style="position: fixed; bottom:0; right: 0; max-width: 20rem">
    <div class="mr-1 mt-1" style="float: right; text-align: right;"><span class="align-middle small">CLOSE</span><i class="material-icons align-middle">close</i></div>
    <div class="card-body pl-2 pr-2 pb-2 pt-0">
        <p>We're currently working on this new website. Let us know if anything is confusing or looks broken.</p>
        <form action="{{ site.forms }}/visitor-submit-eyJpIj" method="post">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" rows="3" name="Message"></textarea>
            </div>

            <button type="submit" class="btn btn-sm btn-primary" style="float: right;">Submit</button>
        </form>
    </div>
</div>