@include media-breakpoint-up(lg) {
  p {
    max-width: 505px;
  } 

  .descriptions p {
    max-width: 527px;
  } 

  .get-involved p {
    max-width: 527px;
  } 

  .get-involved .card p {
    max-width: 431px;
  } 

  h3 {
    font-size: 32px;
  } 

  .about {
    height: 450px;
  } 

  .hero p {
    max-width: 302px;
  } 

  .hero .card {
    height: 338px;
  } 

  .hero .card-body {
    padding-top: 33px;
  } 

  .gallery-item {
    margin-right: 25px;
    width: 500px;
  } 
}
