@include media-breakpoint-only(md) {
  .btn {
    letter-spacing: 0.5px;
  } 

  .section {
    padding-bottom: 50px;
  } 

  .top-section {
    padding-top: 50px;
  } 

  .lead-header, .follow-header {
    font-size: 2rem;
  } 

  .subheading {
    color: $dark-gray;
    text-transform: uppercase;
    font-family: "LL Akkurat Light Web";
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 1rem;
  } 

  hr.stretchy {
    right: 97%;
    top: 80px;
  } 

  .casamarado {
    min-width: 0px;
    height: 200px;
    width: 100%;
  } 

  .clatskanie {
    width: 100%;
    height: 450px;
  }

  .learn-more {
    padding-top: 2rem;
    padding-bottom: 2rem;
  } 

  .map {
    background-position: right;
    background-size: cover;
    height: 40vh;
    width: 100%;
    position: relative;
  } 
  h3 {
    font-size: 32px;
  } 

  .lead {
    padding-top: 43px;
    padding-bottom: 50px;

    p {
      max-width: 351px;
    } 

    img {
      width: 388px;
      position: absolute;
      left: 500px;
      bottom: -68px;
      padding-bottom: 68px;
      margin-bottom: -68px;
    } 

    a.btn-primary {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 20px;
      font-family: "LL Akkurat Light Web";
      margin-top: 30px;
    } 
  } 

  p {
    max-width: 560px;
  } 

  .category {
    font-size: 32px;
  } 

  .tabs h3 {
    font-size: 32px;
  } 

  .gallery .tab-content {
    p {
      margin-top: 60px;
      max-width: 481px;
    } 
  } 

  .tab-pane {
    min-height: 250px;
  } 

  .gallery-nav {
    width: 535px;
  } 

  .gallery-item {
    margin-right: 25px;
    width: 555px;
  } 

  #case-studies {
    min-height: 900px;
  } 

  .the-tech {
    p {
      max-width: 270px;
    } 

    .card {
      min-height: 270px;
    } 
  } 

  iframe {
    height: 323px;
    width: 695px;
  } 

  .core-tech {
    .btn {
      padding: 25px 45px;
      letter-spacing: 0.5px;
    } 

    .btn-primary {
      padding: 25px 80px;
      margin-left: 30px;
    } 

    .btn-secondary {
      border: 2px solid #333;
    } 
  } 

  .core-tech p {
    max-width: 598px;
  } 

  .select-a-role {
    max-width: 400px;
  } 

  .althea-deployments {
    max-width: 598px;
  } 

  .get-involved {
    .category {
      width: 400px;
    } 
  } 

  button[type="submit"] {
    padding: 20px 80px;
  } 

  .map-details p {
    max-width: 481px;
  } 

  .tabs {
    max-width: 620px;
  } 
}
