<div class="d-flex flex-row" style="overflow: hidden;">
  <div class="col-12 col-xl-7 pa-xl-2">
    <p class="pt-4">Want to write about us, partner with us, work for us or something else entirely? Curious about our code? Send us an email at hello@altheamesh.com, or fill out the form below and we’ll get right back to you.</p>
  </div>

  <form class="col-12 col-xl-5" action="{{ site.forms }}/other-submit-eyJpIj/?r={{ site.url }}/thanks-organizer" method="post">
    <span style="position: absolute; top: 99999px"><input type="text" class="form-control" autocomplete="Honnl3P0t" name="Honnl3P0t"></span>

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="Name">
    </div>

    <div class="form-group">
      <label>Email (Required)</label>
      <input type="email" class="form-control" name="Email">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" rows="3" name="Message"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
