<div class="row justify-content-center">
    <div class="col-12 col-lg-10">
        <div class="card d-flex flex-row flex-wrap" style="overflow: hidden;">

            <div class="d-none d-lg-block col-lg-6 col-12 border-right px-4 py-4">
                <p>Looking for better, faster, cheaper, and more resilient internet access, but don’t have the time to organize a Subnet yourself? You’ve come to the right place—we’ll match you with local networks as they become available. </p>

                <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_forward</i></div>

            </div>

            <div class="d-block d-lg-none col-lg-6 col-12 border-bottom px-4 py-4">
                <p>Looking for better, faster, cheaper, and more resilient internet access, but don’t have the time to organize a Subnet yourself? You’ve come to the right place—we’ll match you with local networks as they become available. </p>

                <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_downward</i></div>

            </div>

            <div class="col-lg-6 col-12 bg-light px-3 py-4">
                <form action="{{ site.forms }}/user-submit-eyJpIj/?r={{ site.url }}/thanks-user" method="post">
                    <span style="position: absolute; top: 99999px"><input type="text" class="form-control" autocomplete="Honnl3P0t" name="Honnl3P0t"></span>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="Email">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label>City, State/Province, Country</label>
                        <input type="text" class="form-control" name="Address">
                    </div>

                    <label>Can we:</label>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="Newsletter">
                        <label class="form-check-label">
                            Add you to our newsletter?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="Notify">
                        <label class="form-check-label">
                            Let you know about subnets starting in your area?
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3" style="float: right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>