<div class="d-flex flex-row" style="overflow: hidden;">
  <div class="col-12 col-xl-7 pa-xl-2">
    <p class="pt-4">Looking for better, faster, cheaper, and more resilient internet access, but don’t have the time to organize an Althea subnet yourself? You’ve come to the right place—we’ll match you with local networks as they become available.</p>

    <p>Just want to follow along with our mailing list? That's fine too.</p>
  </div>

  <form class="col-12 col-xl-5" action="{{ site.forms }}/user-submit-eyJpIj/?r={{ site.url }}/thanks-organizer" method="post">
    <span style="position: absolute; top: 99999px"><input type="text" class="form-control" autocomplete="Honnl3P0t" name="Honnl3P0t"></span>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="Name">
    </div>
    <div class="form-group">
      <label>Email (Required)</label>
      <input type="email" class="form-control" name="Email">
    </div>
    <div class="form-group">
      <label>City, State/Province, Country</label>
      <input type="text" class="form-control" name="Address">
    </div>

    <label>Can we:</label>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" name="Newsletter">
        <label class="form-check-label">
            Add you to our newsletter?
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" name="Notify">
        <label class="form-check-label">
            Let you know about subnets starting in your area?
        </label>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
