---
layout: case-studies
title: Althea
permalink: /clatskanie
---

<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    var navArrows = document.querySelectorAll('.gallery-nav')
    var gallery = [
      '/images/drums.jpg',
      '/images/dish.jpg'
    ]

    navArrows[0].onclick = function(e) {
      gallery.push(gallery.shift());
    };
  });
</script>

<div class="case-study">
  <div class="container top-section">
    <div class="row">
      <div class="col-12 col-sm-6" style="overflow: visible">
        <div class="d-flex flex-column justify-content-center h-100 pl-2">
          <div class="h-100 d-flex flex-column justify-content-end">
            <img src="{{ '/images/location.jpg' | relative_url }}" class="location" />
            <div class="subheading">Case Study &mdash; 02</div>
          </div>
          <div>
            <h1 class="lead-header">Clatskanie <span class="follow-header">Oregon</span></h1> 
          </div>
          <div class="h-100 d-none d-sm-block"></div>
        </div>
        <hr class="stretchy" />
      </div>
      <div class="col-12 col-sm-6 px-0">
        <div class="d-none d-sm-block bleed-right offgrid"></div>
        {% include responsive-image.html class="d-sm-none w-100" image="clatskanie" ext="jpg" alt="Offgrid Tower" %}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 offset-sm-6">
        <figcaption class="tiny-caption text-right">
          A long-range antenna connects a node to the backhaul connection in Communa 13.
        </figcaption>
      </div>
    </div>
  </div>

  <div class="container section top-section">
    <div class="row">
      <h2 class="col-12 col-sm-5">Legacy ISP: Slow or No Bandwidth</h2>
      <div class="col-12 col-sm-6">A fiber connection runs through the small town of Clatskanie. But with a population of only 2000, ISPs in the area just aren't motivated to build adequate infrastructure to the outlying areas. Some residents' only option is expensive internet access through cell phone companies which can cost upwards of $150 per month.</div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <figure class="col-12 col-sm-6">
        {% include responsive-image.html class="w-100" image="offgrid_tower" ext="png" alt="Offgrid Tower" %}
        <figcaption class="tiny-caption">
        A long-range antenna connects a node to the backhaul connection
        </figcaption>
      </figure>

      <figure class="col-12 col-sm-6">
        {% include responsive-image.html class="w-100" image="antenna_tree" ext="png" alt="Antenna Behind a Tree" %}
        <figcaption class="tiny-caption">
        A long-range antenna connects a node to the backhaul connection
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-12 col-sm-5">
        <h2>Althea: Faster, Cheaper Internet &mdash; Owned by the people using it</h2>
      </div>
      <div class="col-12 col-sm-6">
        <p>
        While ISPs aren't motivated to address these access issues, Clatskanie's residents are resourceful. With Althea, they are able to set up a network whose nodes are owned by the local residents who use them to access the internet. Soon, these nodes will pay each other, giving families who host nodes that relay traffic for other houses a small income to offset their payments for internet access.
        </p>

        <p>
        The network's current main gateway is at Deborah's computer repair shop. At the computer repair shop, there is a sector antenna which connects to 5 homes in the surrounding town, up to 2 miles away. There is a tower on a hill above town with an intermediary node which relays the internet access to another home.
        </p>

        <p>
        The subnet DAO, Clatskanie Co-op, is structured as a legal cooperative. A legal entity is not necessary for all Althea subnets, since the subnet DAO software allows a local group to administer the network and manage revenue from the network on the blockchain, but the cooperative structure has proven useful for Clatskanie Co-op because it allows them to interface with the traditional legal system to co-own hardware and get permits.
        </p>

        <p>
        Some residents are planning to put up towers to reach larger areas as a side hustle, investing a few thousand dollars in the tower equipment to be able to make a few hundred dollars a month going forward.
        </p>

        <p>
        Clatskanie was Althea's first deployment, and is being spearheaded by one of Althea's founders, Deborah Simpier. She is joined by 4 other co-organizers: Yvonne owns the local fruit stand, and is a bus driver. Dante is a young game developer. Shaun is a programmer and tinkerer who designed the telescoping tower that Clatskanie Co-op is currently using. Clark is a retired Intel project manager.
        </p>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <figure class="col-12">
        {% include responsive-image.html class="w-100" image="clatskanie_gateway" ext="png" alt="Gateway Node" %}
        <figcaption class="tiny-caption">
        A long-range antenna connects a node to the backhaul connection
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-12 col-sm-5">
        <h2>Future vision</h2>
      </div>
      <div class="col-12 col-sm-6">
        <p>
        An additional 25 houses are currently on the waitlist. After this, there are plans to extend the network to other communities along the Columbia River like Marshland, Woodson, and Kerry. Because of Althea's decentralized structure, it's easy for anyone to buy some equipment and extend the network, but Clatskanie Co-op will play a guiding role, as organizers of their subnet DAO.
        </p>
      </div>
    </div>
  </div>


  <div class="w-100 text-center">
    <h4 class="mb-4">Technology &amp; Topology</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 px-0 px-sm-2">
        <div class="clatskanie map"></div>
      </div>

      <div class="map-details col-12 col-md-7 pl-md-4">
        <div class="arrow d-none d-md-block"></div>
        <div class="d-none d-md-block" style="background: #002D39; height: 100%; width: 100%; position: absolute; left: 99%;"></div>
        <h4 class="select-node pt-4 text-center text-md-left">Select Node Type:</h4>
        <div>
          <div class="w-100 my-4 d-none d-md-flex nav">
            <div href="#gateway" class="flex-fill active category" data-toggle="tab" role="tab" aria-controls="gateway" aria-selected="true"><h3>Gateway Node</h3></div>
            <div href="#intermediary" class="flex-fill category" data-toggle="tab" role="tab" aria-controls="intermediary" aria-selected="true"><h3>Intermediary Nodes</h3></div>
            <div href="#user" class="flex-fill category" data-toggle="tab" role="tab" aria-controls="user" aria-selected="true"><h3>User Nodes</h3></div>
          </div>
          <div class="d-flex d-md-none justify-content-center active category text-center mb-2">
            <div>
              <i class="material-icons mb-2 font-size-14 gallery-nav">arrow_back</i>
            </div>
            <h3 class="flex-fill">Gateway Node</h3>
            <div class="ml-auto">
              <i class="material-icons mb-2 font-size-14 gallery-nav">arrow_forward</i>
            </div>
          </div>

          <div class="tab-content descriptions">
            <div class="tab-pane active show w-100" id="gateway">
              <p>
              The backhaul is provided by a commercial internet subscription at Deborah's computer shop. This costs x per month. This is broadcasted out to the town by some sector antennas on the computer shop's roof. Clatskanie Co-op has opted to use 2.4ghz radios instead of 5ghz because the lower frequencies go through foliage more easily.
              </p>

              <p>
              Another idea for a second gateway is to work with the Smoky Waters wireless ISP which is based on a nearby island. Smoky Waters could sell bandwidth into the Clatskanie Co-op subnet from their network. Althea's architecture allows multiple gateway nodes to serve a subnet. Individual routers automatically choose the gateway which is faster and cheaper, which tends to be physically near to them.
              </p>
            </div>

            <p class="tab-pane" id="intermediary">
Currently, the tower and a couple of homes in Clatskanie are serving as intermediary nodes. Any Althea node can sell bandwidth to other nodes, but we call a node that has better antennas and earns money forwarding packets for other nodes an intermediary node. In the future, another tower over Clatskanie and one covering Marshland will be intermediary nodes. Also, anyone who wants to hook up their neighbor or any other house they have line of sight to can become an intermediary node.
            </p>
            <p class="tab-pane" id="user">
Users access bandwidth through intermediary nodes, or directly from the gateway node, and don't pass it on to anyone else... yet. Anytime they want to, these users could become intermediary nodes by selling their connection on to their neighbors.
            </p>
          </div>

          <div class="d-none d-md-flex">
            <div>
              <i class="material-icons mb-2 font-size-14 gallery-nav">arrow_back</i>
            </div>
            <div class="ml-auto">
              <i class="material-icons mb-2 font-size-14 gallery-nav">arrow_forward</i>
            </div>
          </div>

          <div class="d-flex section">
            <div class="w-50 mr-2">
              {% include responsive-image.html class="w-100" image="tower_laptop" ext="png" alt="Laptop and Tower" %}
              <div class="d-flex mt-2"> 
                <div class="mb-auto">
                  <span class="tiny-caption">A long-range antenna connects a node</span>
                </div>
                <div class="d-none d-md-block ml-auto">
                  <i class="material-icons small">search</i>
                </div>
              </div>
            </div>

            <div class="w-50">
              {% include responsive-image.html class="w-100" image="roof_antenna" ext="png" alt="Antenna on a Roof" %}
              <div class="d-none d-md-flex mt-2"> 
                <div class="mb-auto">
                  <span class="tiny-caption">A long-range antenna connects a node</span>
                </div>
                <div class="ml-auto">
                  <i class="material-icons small">search</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="learn-more">
    <div class="container">
      <h1 class="mb-sm-5">Learn more</h1>
      <div class="row">
        <div class="col-sm-3">
          <img class="mb-2" src="{{ '/images/book-open-variant.svg' | relative_url }}" />
          <p><b>Read the full story</b> about how we helped red_medellin deploy Althea on Medium.</p>
          <div class="d-sm-none mb-4">
            <i class="material-icons arrow">arrow_forward</i>
            <hr class="m-0" />
          </div>
        </div>
        <div class="col-sm-3">
          <i class="material-icons mb-2">open_in_new</i><br />
          <p><b>Visit the red_medellin website</b> for regular updates on their progress and more information.</p>
          <div class="d-sm-none mb-4">
            <i class="material-icons arrow">arrow_forward</i>
            <hr class="m-0" />
          </div>
        </div>
        <div class="col-sm-3">
          <i class="material-icons mb-2">send</i><br />
          <p><b>Send us a message</b> with any questions or to get connected with the red_medellin subnet.</p>
          <div class="d-sm-none mb-4">
            <i class="material-icons arrow">arrow_forward</i>
            <hr class="m-0" />
          </div>
        </div>
        <div class="col-sm-3">
          <i class="material-icons mb-2">school</i><br />
          <p><b>Check out the How it Works page</b> to find out more about the Althea ecosystem.</p>
          <div class="d-sm-none">
            <i class="material-icons arrow">arrow_forward</i>
            <hr class="m-0" />
          </div>
        </div>
      </div>
      <div class="row d-none d-sm-flex">
        <div class="col-sm-3">
          <i class="material-icons arrow">arrow_forward</i>
          <hr class="m-0" />
        </div>
        <div class="col-sm-3">
          <i class="material-icons arrow">arrow_forward</i>
          <hr class="m-0" />
        </div>
        <div class="col-sm-3">
          <i class="material-icons arrow">arrow_forward</i>
          <hr class="m-0" />
        </div>
        <div class="col-sm-3">
          <i class="material-icons arrow">arrow_forward</i>
          <hr class="m-0" />
        </div>
      </div>
    </div>
  </div>
</div>
