---
layout: case-studies
title: Althea
permalink: /medellin
---

<script src="{{ '/assets/gallery-nav.js' | relative_url }}"></script>
<style>
@media (max-width: 768px) {
  .navbar {
    background: white !important;
  } 
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .navbar {
    background: #FCFAF6 !important;
  } 
}
</style>

<div class="case-study">
  <div class="skinny container pt-sm-4 pt-lg-0">
    <div class="row">
      <div class="col-12 col-lg-6 d-flex flex-column pl-sm-0" style="overflow: visible">
        <div class="d-flex flex-column justify-content-center h-100">
          <div class="h-100 d-flex flex-column justify-content-end">
            <img src="{{ '/images/location.jpg' | relative_url }}" class="location" />
            <div class="subheading pb-2">Case Study &mdash; 01</div>
          </div>
          <h1 class="lead-header pl-0">Medellin <span class="follow-header">Colombia</span></h1> 
          <div class="d-none d-lg-block h-100"></div>
        </div>
        <hr class="stretchy" />
      </div>
      <div class="col-12 col-lg-6 px-0 bleed">
        <div class="d-none d-sm-block casamarado"></div>
      </div>
    </div>
    <div class="d-none d-sm-block row">
      <div class="col-12 col-lg-6 offset-lg-6">
        <figcaption class="tiny-caption text-right underline py-2">
          A long-range antenna connects a node to the backhaul in Communa 13.
        </figcaption>
      </div>
    </div>
  </div>

  <div class="d-sm-none casamarado"></div>

  <div class="skinny container section top-section slow-bandwidth">
    <div class="row">
      <h2 class="col-12 col-lg-5 pt-sm-4 pt-lg-0 pb-sm-2">Legacy ISP: Slow or No Bandwidth</h2>
      <div class="col-12 col-lg-6">
        In many parts of Medellin, internet connections are spotty, slow, expensive, or non-existent. The subnet organizers at <a href="https://www.redmedellin.com/">red_medellin</a> are deploying their first Althea network in the hillside community neighborhood Communa 13, where a small number of high-speed, line-of-sight connections can bring better bandwidth to homes, schools, and businesses. Read our <a href="https://medium.com/althea-mesh/althea-in-medellin-c39f1416913e">blog post</a> about helping them deploy Althea in Medellin.
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <figure class="col-12 col-sm-6">
        {% include responsive-image.html class="w-100" image="medellin-1" ext="jpg" alt="Medellin" %}
        <figcaption class="underline py-2 tiny-caption">
        A long-range antenna connects a node to the backhaul in Communa 13
        </figcaption>
      </figure>

      <figure class="col-12 col-sm-6">
        {% include responsive-image.html class="w-100" image="medellin-2" ext="jpg" alt="Medellin" %}
        <figcaption class="underline py-2 tiny-caption">
        A long-range antenna connects a node to the backhaul in Communa 13
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="skinny container section red-medellin">
    <div class="row">
      <div class="col-12 col-lg-6 px-0 pb-2">
        <h2>Althea: Faster, Cheaper Internet &mdash; Owned by the people using it</h2>
      </div>
      <div class="col-12 col-lg-6 p-0">
        <p>
        The <a href="https://www.redmedellin.com/">red_medellin</a> subnet DAO is bringing internet access to Communa 13, partnering with another local organization to buy bandwidth, and beaming it by radio to the neighborhood. While some nodes on the network will just be accessing the internet, others can help grow the network organically by getting their neighbors set up too—offsetting the cost of their own connection, or even earning a little money doing so.
        </p>

        <p>
          red_medellin was started by 4 young Americans living in Medellin. However, they do not own the network. Althea's decentralized architecture means that each node is owned by the people using it to buy and/or sell internet access. The red_medellin subnet organizers provide technical support and installation services to this network of independently-owned nodes.
        </p>
      </div>
    </div>
  </div>

  <div class="w-100 text-center">
    <h4 class="mb-2 mb-sm-4">Technology &amp; Topology</h4>
  </div>

  <img class="d-none d-sm-block d-lg-none" src="{{ '/images/medellin_gateway-768.jpg' | relative_url }}" style="width: 966px" />
  <img class="d-sm-none" src="{{ '/images/medellin_gateway-400.jpg' | relative_url }}" />

  <div id="case-studies" class="w-100" style="overflow: hidden; background: #002D39;">
    <div class="container">
      <div class="row">
        <div class="d-none d-lg-block col-lg-5 px-0 px-sm-2">
          <div class="medellin map"></div>
        </div>

        <div class="map-details col-12 col-lg-7 pl-lg-5 pt-lg-3">
          <div class="arrow d-none d-lg-block"></div>
          <h4 class="d-sm-none d-lg-block select-node pt-sm-4 text-center text-md-left">Select Node Type:</h4>
          <div class="pt-sm-4 pt-lg-0">
            <div class="w-100 my-4 d-none d-md-flex nav">
              <div href="#gateway" class="flex-fill active category" data-toggle="tab" role="tab" aria-controls="gateway" aria-selected="true">Gateway Node</div>
              <div href="#intermediary" class="flex-fill category" data-toggle="tab" role="tab" aria-controls="intermediary" aria-selected="true">Intermediary Nodes</div>
              <div href="#user" class="flex-fill category" data-toggle="tab" role="tab" aria-controls="user" aria-selected="true">User Nodes</div>
            </div>
            <div class="d-flex d-md-none justify-content-center active category text-center mb-2">
              <div>
                <i class="material-icons mb-2 gallery-nav">arrow_back</i>
              </div>
              <h3 class="flex-fill">Gateway Node</h3>
              <div class="ml-auto">
                <i class="material-icons mb-2 gallery-nav">arrow_forward</i>
              </div>
            </div>

            <div class="tab-content pl-0 col-12 col-md-12 col-md-8 descriptions" style="min-height: 200px;">
              <p class="tab-pane active show w-100" id="gateway">
              Red_medellin has partnered with local recording studio Son Bata to buy commercial bandwidth and beam it to Comuna 13. This connection will travel 1.6km by point-to-point radio to a school that sits on a hill above the neighborhood, with a great line of sight to many of the houses and buildings nearby.
              </p>
              <p class="tab-pane" id="intermediary">
              Any houses with a direct view of the school can point an inexpensive antenna to the sector antennas set up above the school and connect to the internet. These houses can then “pass on” this connection to their neighbors via ethernet cable, earning some money.
              </p>
              <p class="tab-pane" id="user">
              Users access bandwidth through intermediary nodes, or directly from the gateway node, and don't pass it on to anyone else... yet. Anytime they want to, these users could become intermediary nodes by selling their connection on to their neighbors.
              </p>
            </div>

            <div class="gallery-nav d-none d-sm-flex">
              <div>
                <a href="#" id="prev"><i class="material-icons mb-2 font-size-14 gallery-nav">arrow_back</i></a>
              </div>
              <div class="ml-auto">
                <a href="#" id="next"><i class="material-icons mb-2 font-size-14 gallery-nav">arrow_forward</i></a>
              </div>
            </div>

            <div class="d-flex section gallery">
              <div class="gallery-item">
                <img src="{{ '/images/gallery_01.jpg' | relative_url }}" alt="Antenna Dish" />
                <div class="d-flex mt-1 mt-sm-2"> 
                  <div>
                    <span class="tiny-caption">A long-range antenna connects a node</span>
                  </div>
                  <div class="ml-auto d-none d-sm-flex">
                    <i class="material-icons small mt-1">search</i>
                  </div>
                </div>
              </div>

              <div class="gallery-item">
                <img src="{{ '/images/gallery_02.jpg' | relative_url }}" alt="Playing Drums" />
                <div class="d-flex mt-1 mt-sm-2"> 
                  <div>
                    <span class="tiny-caption">A long-range antenna connects a node</span>
                  </div>
                  <div class="ml-auto d-none d-sm-flex">
                    <i class="material-icons small mt-1">search</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="learn-more">
    <div class="container">
      <h2 class="mb-sm-5">Learn More</h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <img class="mb-2" src="{{ '/images/book-open-variant.svg' | relative_url }}" />
          <p class="lm-1"><b>Read the full story</b> about how we helped red_medellin deploy Althea on Medium.</p>
          <div class="d-lg-none mb-4">
            <i class="material-icons arrow">arrow_forward</i>
            <hr class="m-0" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <i class="material-icons mb-2">open_in_new</i><br />
          <p class="lm-2"><b>Visit the red_medellin website</b> for regular updates on their progress and more information.</p>
          <div class="d-lg-none mb-4">
            <i class="material-icons arrow">arrow_forward</i>
            <hr class="m-0" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-sm-4 mt-lg-0">
          <i class="material-icons mb-2">send</i><br />
          <p class="lm-3"><b>Send us a message</b> with any questions or to get connected with the red_medellin subnet.</p>
          <div class="d-lg-none mb-4">
            <i class="material-icons arrow">arrow_forward</i>
            <hr class="m-0" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-sm-4 mt-lg-0">
          <i class="material-icons mb-2">school</i><br />
          <p class="lm-4"><b>Check out the How it Works page</b> to find out more about the Althea ecosystem.</p>
          <div class="d-lg-none">
            <i class="material-icons arrow">arrow_forward</i>
            <hr class="m-0" />
          </div>
        </div>
      </div>
      <div class="row d-none d-lg-flex">
        <div class="col-6 col-lg-3">
          <i class="material-icons arrow">arrow_forward</i>
          <hr class="m-0" />
        </div>
        <div class="col-6 col-lg-3">
          <i class="material-icons arrow">arrow_forward</i>
          <hr class="m-0" />
        </div>
        <div class="col-6 col-lg-3">
          <i class="material-icons arrow">arrow_forward</i>
          <hr class="m-0" />
        </div>
        <div class="col-6 col-lg-3">
          <i class="material-icons arrow">arrow_forward</i>
          <hr class="m-0" />
        </div>
      </div>
    </div>
  </div>

  <div class="skinny container clatskanie-next mt-4 mt-sm-0">
    <div class="row">
      <div class="col-12 col-lg-6 d-flex flex-column pl-0" style="overflow: visible">
        <div class="d-flex flex-column justify-content-center h-100">
          <div class="h-100 d-flex flex-column justify-content-end">
            <img src="{{ '/images/clatskanie_location.jpg' | relative_url }}" class="location" />
            <div class="subheading pb-2"><span class="d-none d-sm-inline next">Next</span> &nbsp; Case Study &mdash; 02</div>
          </div>
          <h1 class="lead-header">Clatskanie <span class="follow-header">Oregon</span></h1> 
          <div class="d-none d-sm-block h-100">
            <a href="{{ '/clatskanie' | relative_url }}" class="btn btn-primary view-case-study px-3 py-2 mt-2">View Case Study</button>
          </div>
        </div>
        <hr class="stretchy" />
      </div>
      <div class="col-12 col-lg-6 px-0 bleed">
        <div class="d-none d-sm-block offgrid"></div>
      </div>
    </div>
  </div>

  <div class="d-sm-none offgrid"></div>
</div>
