<div class="section">
    <h1 class="text-center">Althea can be deployed in any environment</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">
            <ul class="nav rounded-button-bar">
                <li class="item">
                    <div href="#urban-case-study" class="button active show" data-toggle="tab">
                        <i class="material-icons font-size-36">location_city</i>
                    </div>
                    <div class="text-center small-emphasis">Urban</div>
                </li>
                <li class="item">
                    <div href="#suburban-case-study" class="button" data-toggle="tab">
                        <i class="material-icons font-size-36">home</i>
                    </div>
                    <div class="text-center small-emphasis">Suburban</div>
                </li>
                <li class="item">
                    <div href="#rural-case-study" class="button" data-toggle="tab">
                        <i class="material-icons font-size-36">filter_hdr</i>
                    </div>
                    <div class="text-center small-emphasis">Rural</div>
                </li>
                <div class="line">
                    <div></div>
                </div>
            </ul>
        </div>
        <div class="tab-content">

            <div class="col-12 tab-pane active show" id="urban-case-study">
                <div class="card mt-4 case-study suburban-case-study py-3 d-flex flex-column justify-content-between">
                    <div class="col-12">
                        <h3 style="max-width: 600px">A combination of wireless and wired connections can be used to connect nodes in suburban areas with varied terrain, like our Subnet partner in Medellin, Colombia.</h3>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="d-flex flex-wrap">
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/Litebeam_transparent_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                        </div>

                        <a class="btn btn-primary align-self-end ml-auto" href="#" role="button">View case study</a>
                    </div>
                </div>
            </div>
            <div class="col-12 tab-pane" id="suburban-case-study">
                <div class="card mt-4 case-study suburban-case-study py-3 d-flex flex-column justify-content-between">
                    <div class="col-12">
                        <h3 style="max-width: 600px">Suburban</h3>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="d-flex flex-wrap">
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/Litebeam_transparent_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                        </div>

                        <a class="btn btn-primary align-self-end ml-auto" href="#" role="button">View case study</a>
                    </div>
                </div>
            </div>
            <div class="col-12 tab-pane" id="rural-case-study">
                <div class="card mt-4 case-study suburban-case-study py-3 d-flex flex-column justify-content-between">
                    <div class="col-12">
                        <h3 style="max-width: 600px">Rural</h3>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="d-flex flex-wrap">
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/Litebeam_transparent_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                            <div class="card mr-2 mt-2" style="display: inline-block;">
                                <div class="image-div" style="background-image: url(./images/GLB1300_500.png);"></div>
                                <div class="small-emphasis text-center">1</div>
                            </div>
                        </div>

                        <a class="btn btn-primary align-self-end ml-auto" href="#" role="button">View case study</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>