<script src="{{ '/assets/gallery-nav.js' | relative_url }}"></script>

<div class="container mb-4">
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-lg-12 offset-lg-0 text-center">
      <h2>Althea can be deployed in any environment</h2>
    </div>
  </div>
</div>

<img class="d-lg-none w-100" src="{{ '/images/blank_map-768.jpg' | relative_url }}" />

<div id="case-studies" class="w-100" style="overflow: hidden; background: #002D39;">
  <div class="container">
    <div class="row">
      <div class="d-none d-lg-block col-lg-5 px-0 px-sm-2">
        <div class="blank map"></div>
      </div>

      <div class="map-details col-12 col-lg-7 pl-lg-5 pt-lg-3">
        <div style="background: #002D39; height: 100%; width: 40vw; position: absolute; left: 99%;"></div>
        <div>
          <div class="w-100 mb-4 mt-sm-4 d-flex nav tabs" style="max-width: 500px">
            <div href="#urban" class="flex-fill active category pb-sm-2" data-toggle="tab" role="tab" aria-controls="urban" aria-selected="true"><h3>Urban Area</h3></div>
            <div href="#rural" class="flex-fill category" data-toggle="tab" role="tab" aria-controls="rural" aria-selected="true"><h3>Rural Area</h3></div>
          </div>

          <div class="tab-content descriptions mb-3">
            <div class="tab-pane active show w-100" id="urban">
              <p class="mb-3">
              A combination of wireless and wired connections can be used to connect nodes in urban areas with varied terrain, like the red_medellin subnet in Medellin, Colombia. 
              </p>

              <a class="btn btn-primary px-4 py-3 px-lg-3 py-lg-2" href="{{ '/medellin' | relative_url }}" role="button" style="font-size: 16px; letter-spacing: 1px;">View Case Study</a>
            </div>

            <div class="tab-pane w-100" id="rural">
              <p>
              Legacy ISPs aren’t incentivized to offer quality—or any—internet access to remote, sparsely-populated areas. Althea makes it possible for places like Clatskanie, Oregon to build and and manage their own networks.
              </p>

              <a class="btn btn-primary px-4 py-3" href="{{ '/clatskanie' | relative_url }}" role="button" style="font-size: 18px; letter-spacing: 1px;">View Case Study</a>
            </div>
          </div>

          <div class="gallery-nav d-none d-sm-flex" style="max-width: 440px">
            <div>
              <a href="#" id="prev"><i class="material-icons mb-2 font-size-14 gallery-nav">arrow_back</i></a>
            </div>
            <div class="ml-auto">
              <a href="#" id="next"><i class="material-icons mb-2 font-size-14 gallery-nav">arrow_forward</i></a>
            </div>
          </div>

          <div class="d-flex section gallery">
            <div>
              {% include responsive-image.html class="w-100" image="drums" ext="jpg" alt="Playing Drums" %}
              <div class="d-flex"> 
                <div>
                  <span class="tiny-caption">A long-range antenna connects a node</span>
                </div>
                <div class="ml-auto">
                  <i class="material-icons small">search</i>
                </div>
              </div>
            </div>

            <div>
              {% include responsive-image.html class="w-100" image="dish" ext="jpg" alt="Antenna Dish" %}
              <div class="d-flex"> 
                <div>
                  <span class="tiny-caption">A long-range antenna connects a node</span>
                </div>
                <div class="ml-auto">
                  <i class="material-icons small">search</i>
                </div>
              </div>
            </div>

            <div>
              {% include responsive-image.html class="w-100" image="dish" ext="jpg" alt="Antenna Dish" %}
              <div class="d-none d-md-flex mt-2"> 
                <div>
                  <span class="tiny-caption">A long-range antenna connects a node</span>
                </div>
                <div class="ml-auto">
                  <i class="material-icons small">search</i>
                </div>
              </div>
            </div>

            <div>
              {% include responsive-image.html class="w-100" image="dish" ext="jpg" alt="Antenna Dish" %}
              <div class="d-none d-md-flex mt-2"> 
                <div>
                  <span class="tiny-caption">A long-range antenna connects a node</span>
                </div>
                <div class="ml-auto">
                  <i class="material-icons small">search</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
