<div class="section">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 mb-4">
            <h1>Get Involved</h1>
            <p>Althea test deployments are launching now in the US and Colombia, with hundreds of other communities ready to get started. Join us: whether you’ve got a little extra time, technical skills, a commitment to open and accessible Internet, or all of the above, we’d love to hear from you.</p>
            <p><strong>Select a role below to learn more and get started. Don’t see what you’re looking for? Send us an email.</strong></p>
        </div>
    </div>
    <ul class="nav row justify-content-center mb-3">
        <li class="col-4 col-md-2 mb-3">
            <div href="#organizer-form" class="card border-0 shadow align-items-center py-4 card-tab active show" data-toggle="tab">
                <i class="material-icons mb-2 font-size-36">group</i>
                <div class="small-emphasis">Organizer</div>
            </div>
        </li>
        <li class="col-4 col-md-2 mb-3">
            <div href="#user-form" class="card border-0 shadow align-items-center py-4 card-tab" data-toggle="tab">
                <i class="material-icons mb-2 font-size-36">person</i>
                <div class="small-emphasis">User</div>
            </div>
        </li>
        <li class="col-4 col-md-2 mb-3">
            <div href="#supporter-form" class="card border-0 shadow align-items-center py-4 card-tab" data-toggle="tab">
                <i class="material-icons mb-2 font-size-36">thumb_up</i>
                <div class="small-emphasis">Supporter</div>
            </div>
        </li>
        <li class="col-4 col-md-2 mb-3">
            <div href="#developer-form" class="card border-0 shadow align-items-center py-4 card-tab" data-toggle="tab">
                <i class="material-icons mb-2 font-size-36">code</i>
                <div class="small-emphasis">Developer</div>
            </div>
        </li>
        <li class="col-4 col-md-2 mb-3">
            <div href="#other-form" class="card border-0 shadow align-items-center py-4 card-tab" data-toggle="tab">
                <i class="material-icons mb-2 font-size-36">help</i>
                <div class="small-emphasis">Other</div>
            </div>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active show" id="organizer-form">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="card d-flex flex-row flex-wrap" style="overflow: hidden;">

                        <div class="d-none d-lg-block col-lg-6 col-12 border-right px-4 py-4">
                            <p>Subnet Organizers are key players in the Althea system. Right now, we’re looking for people who want to set up a test deployment for their building, neighborhood, or city. Ideally, you've got a little technical knowledge, a bit of time to spare, and close ties to the area you're working in. Along with the rest of the Althea community, we're here to work with you through every step of the journey.</p>

                            <!-- <div class="mt-4 mb-3"><a class="btn shadow btn-light align-self-end ml-auto" href="#" role="button">Learn More about Organizers</a></div> -->
                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_forward</i></div>

                        </div>

                        <div class="d-block d-lg-none col-lg-6 col-12 border-bottom px-4 py-4">
                            <p>Subnet Organizers are key players in the Althea system. Right now, we’re looking for people who want to set up a test deployment for their building, neighborhood, or city. Ideally, you've got a little technical knowledge, a bit of time to spare, and close ties to the area you're working in. Along with the rest of the Althea community, we're here to work with you through every step of the journey.</p>

                            <!-- <div class="mt-4 mb-3"><a class="btn shadow btn-light align-self-end ml-auto" href="#" role="button">Learn More about Organizers</a></div> -->
                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_downward</i></div>

                        </div>

                        <div class="col-lg-6 col-12 bg-light px-5 py-4">
                            <form>
                                <div class="form-group">
                                    <label for="emailInput">Email*</label>
                                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="nameInput">Name</label>
                                    <input type="text" class="form-control" id="nameInput">
                                </div>
                                <div class="form-group">
                                    <label for="zipInput">Zip</label>
                                    <input type="text" class="form-control" id="zipInput">
                                </div>
                                <button type="submit" class="btn btn-primary mt-3" style="float: right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="user-form">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="card d-flex flex-row flex-wrap" style="overflow: hidden;">

                        <div class="d-none d-lg-block col-lg-6 col-12 border-right px-4 py-4">
                            <p>Looking for better, faster, cheaper, and more resilient internet access, but don’t have the time to organize a Subnet yourself? You’ve come to the right place—we’ll match you with local networks as they become available. </p>

                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_forward</i></div>

                        </div>

                        <div class="d-block d-lg-none col-lg-6 col-12 border-bottom px-4 py-4">
                            <p>Looking for better, faster, cheaper, and more resilient internet access, but don’t have the time to organize a Subnet yourself? You’ve come to the right place—we’ll match you with local networks as they become available. </p>

                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_downward</i></div>

                        </div>

                        <div class="col-lg-6 col-12 bg-light px-5 py-4">
                            <form>
                                <div class="form-group">
                                    <label for="emailInput">Email*</label>
                                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="nameInput">Name</label>
                                    <input type="text" class="form-control" id="nameInput">
                                </div>
                                <div class="form-group">
                                    <label for="zipInput">Zip</label>
                                    <input type="text" class="form-control" id="zipInput">
                                </div>
                                <button type="submit" class="btn btn-primary mt-3" style="float: right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="supporter-form">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="card d-flex flex-row flex-wrap" style="overflow: hidden;">

                        <div class="d-none d-lg-block col-lg-6 col-12 border-right px-4 py-4">
                            <p>While we’re just getting started, our networks and community are growing quickly—if you’re interested in following along, learning as we go, and hopefully helping us spread the good word, join our newsletter and we’ll keep you posted.</p>

                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_forward</i></div>

                        </div>

                        <div class="d-block d-lg-none col-lg-6 col-12 border-bottom px-4 py-4">
                            <p>While we’re just getting started, our networks and community are growing quickly—if you’re interested in following along, learning as we go, and hopefully helping us spread the good word, join our newsletter and we’ll keep you posted.</p>

                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_downward</i></div>

                        </div>

                        <div class="col-lg-6 col-12 bg-light px-5 py-4">
                            <form>
                                <div class="form-group">
                                    <label for="emailInput">Email*</label>
                                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="nameInput">Name</label>
                                    <input type="text" class="form-control" id="nameInput">
                                </div>
                                <div class="form-group">
                                    <label for="zipInput">Zip</label>
                                    <input type="text" class="form-control" id="zipInput">
                                </div>
                                <button type="submit" class="btn btn-primary mt-3" style="float: right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="developer-form">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="card d-flex flex-row flex-wrap" style="overflow: hidden;">

                        <div class="d-none d-lg-block col-lg-6 col-12 border-right px-4 py-4">
                            <p>We’re building and refining our technology now—our lead developer Justin posts regular updates to _Medium_, and all of our code is available on _Github._ If you have questions or ideas, we’re all ears, just send us your information via the form below and we’ll get it to our team.</p>

                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_forward</i></div>

                        </div>

                        <div class="d-block d-lg-none col-lg-6 col-12 border-bottom px-4 py-4">
                            <p>We’re building and refining our technology now—our lead developer Justin posts regular updates to _Medium_, and all of our code is available on _Github._ If you have questions or ideas, we’re all ears, just send us your information via the form below and we’ll get it to our team.</p>

                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_downward</i></div>

                        </div>

                        <div class="col-lg-6 col-12 bg-light px-5 py-4">
                            <form>
                                <div class="form-group">
                                    <label for="emailInput">Email*</label>
                                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="nameInput">Name</label>
                                    <input type="text" class="form-control" id="nameInput">
                                </div>
                                <div class="form-group">
                                    <label for="zipInput">Zip</label>
                                    <input type="text" class="form-control" id="zipInput">
                                </div>
                                <button type="submit" class="btn btn-primary mt-3" style="float: right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="other-form">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="card d-flex flex-row flex-wrap" style="overflow: hidden;">

                        <div class="d-none d-lg-block col-lg-6 col-12 border-right px-4 py-4">
                            <p>Want to write about us, partner with us, work for us or something else entirely? Curious about our code? _Send us an email_, or fill out the form below and we’ll get right back to you.</p>

                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_forward</i></div>

                        </div>

                        <div class="d-block d-lg-none col-lg-6 col-12 border-bottom px-4 py-4">
                            <p>Want to write about us, partner with us, work for us or something else entirely? Curious about our code? _Send us an email_, or fill out the form below and we’ll get right back to you.</p>

                            <div class="text-secondary">Fill in the form to get started<i class="align-middle material-icons">arrow_downward</i></div>

                        </div>

                        <div class="col-lg-6 col-12 bg-light px-5 py-4">
                            <form>
                                <div class="form-group">
                                    <label for="emailInput">Email*</label>
                                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="nameInput">Name</label>
                                    <input type="text" class="form-control" id="nameInput">
                                </div>
                                <div class="form-group">
                                    <label for="zipInput">Zip</label>
                                    <input type="text" class="form-control" id="zipInput">
                                </div>
                                <button type="submit" class="btn btn-primary mt-3" style="float: right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>