
<div class="bg-yellow get-involved mt-3 pt-lg-4">
  <div class="container section top-section text-center text-lg-left pt-4">
    <h2 id="get-involved" class="pt-lg-2">Get Involved</h2>
    <div class="d-flex flex-wrap flex-lg-nowrap my-2 my-sm-4">
      <div class="d-none d-lg-block mr-lg-5">
        <p>Althea test deployments are launching now in the US and Colombia, with hundreds of other communities ready to get started. Join us: whether you’ve got a little extra time, technical skills, a commitment to open and accessible Internet, or all of the above, we’d love to hear from you.</p>
      </div>
      <div class="d-lg-none mx-auto">
        <p class="mb-4 althea-deployments">Althea test deployments are launching now in the US and Colombia, with hundreds of other communities ready to get started. Join us: whether you’ve got a little extra time, technical skills, a commitment to open and accessible Internet, or all of the above, we’d love to hear from you.</p>
      </div>
      <div class="flex-shrink mx-auto">
        <p class="select-a-role mx-sm-5 mx-lg-0 mb-4">Select a role below to learn more and get started. Don’t see what you’re looking for? Send us an email at <a href="mailto:hello@altheamesh.com" style="text-decoration: underline">hello@altheamesh.com</a></p>
      </div>
    </div>
    <div class="card shadow pa-5" style="border-radius: 0.6em; border-width: 0px;">
      <div class="card-body px-1 px-sm-4 px-lg-5 py-4">
        <div class="d-flex d-lg-none justify-content-center active category text-center mb-2 nav mx-auto">
          <div>
            <i class="prev material-icons mb-2">arrow_back</i>
          </div>
          <h2 class="user-type flex-fill flex-fill flex-sm-shrink">Organizer</h2>
          <div class="ml-auto">
            <i class="next material-icons mb-2">arrow_forward</i>
          </div>
        </div>
        <div class="d-none d-lg-flex justify-content-center mb-3 text-center">
          <div class="my-4 d-none d-md-flex nav tabs">
            <div href="#organizer-form" class="flex-fill active category pb-2" data-toggle="tab" role="tab" aria-controls="urban" aria-selected="true"><h3>Organizer</h3></div>
            <div href="#user-form" class="flex-fill category" data-toggle="tab" role="tab" aria-controls="rural" aria-selected="true"><h3>User</h3></div>
            <div href="#developer-form" class="flex-fill category" data-toggle="tab" role="tab" aria-controls="rural" aria-selected="true"><h3>Developer</h3></div>
            <div href="#other-form" class="flex-fill category" data-toggle="tab" role="tab" aria-controls="rural" aria-selected="true"><h3>Other</h3></div>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active show" id="organizer-form">
            {% include get-involved/organizer.html %}
          </div>
          <div class="tab-pane" id="user-form">
            {% include get-involved/user.html %}
          </div>
          <div class="tab-pane" id="developer-form">
            {% include get-involved/developer.html %}
          </div>
          <div class="tab-pane" id="other-form">
            {% include get-involved/other.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

