<div class="bg-yellow w-100 lead">
  <div class="skinny container">
    <div class="d-lg-none row">
      <h1>Faster, cheaper, decentralized Internet</h1>
    </div>
    <div class="row h-100" style="overflow: visible;">
      <div class="col-12 col-lg-6 pb-5 pb-lg-0">
        <h1 class="d-none d-lg-inline">Faster, cheaper, decentralized Internet</h1>
        <p>Althea enables routers to pay each other for bandwidth, making it easy for communities to set up networks which are faster and cheaper than the existing ISP monopolies. Learn more about our blockchain-powered router, the communities we’re working in, and our vision for an Internet that works for everyone below.</p>
        <a class="d-none d-md-block d-lg-none btn btn-primary" style="max-width: 240px" href="{{ '/#get-involved' | relative_url }}" role="button">Get Involved</a>
        <a class="d-md-none mb-5 px-4 py-2 btn btn-primary" style="font-size: 20px; letter-spacing: 1px;" href="{{ '/#get-involved' | relative_url }}" role="button">Get Involved</a>
      </div>
    </div>
    <img class="d-none d-sm-block" src="{{ '/images/mounting_party-1920.png' | relative_url }}" />
  </div>
  <img class="d-sm-none" src="{{ '/images/mounting_party-640.png' | relative_url }}" style="position: absolute; bottom: 48px; right: 0px; padding-bottom: 68px; margin-bottom: -68px;" />
  <img class="d-none d-sm-block d-md-none" src="{{ '/images/mounting_party-640.png' | relative_url }}" style="position: absolute; bottom: -78px; right: 0px; padding-bottom: 68px; margin-bottom: -68px;" />
</div>

<div class="d-md-none section top-section"></div>

<div class="hero container section top-section">
  <div class="row d-flex align-items-stretch px-md-5 px-lg-0 mt-5">
    <div class="col-12 col-lg-4 mb-3">
      <div class="card shadow border-0">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Faster</h3>
          <p class="card-text">Althea is faster, because anybody in the community is able to expand and improve the network and get paid for investing in faster equipment.</p>
          <a href="{{ '/how-it-works' | relative_url }}" class="forward-link my-auto">Learn More <i class="align-middle material-icons">arrow_forward</i></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mb-3">
      <div class="card shadow border-0 h-100">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Cheaper</h3>
          <p class="card-text">Althea's price-aware routing protocol makes sure that traffic takes the cheapest path. Your router gets the best prices, second by second.</p>
          <a href="{{ '/how-it-works' | relative_url }}" class="forward-link my-auto">Learn More <i class="align-middle material-icons">arrow_forward</i></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mb-3">
      <div class="card shadow border-0 h-100">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Decentralized</h3>
          <p class="card-text">Althea networks are made up of nodes owned by the people who use them. Communities get faster, cheaper internet by cutting out the middleman.</p>
          <a href="{{ '/how-it-works' | relative_url }}" class="forward-link my-auto">Learn More <i class="align-middle material-icons">arrow_forward</i></a>
        </div>
      </div>
    </div>
  </div>
</div>

