<div class="section">
    <div class="jumbotron">
        <div class="row">
            <div class="col-12">
                <h1 class="text-light">Faster, cheaper, decentralized Internet</h1>
                <p class="text-light">Althea is a technology system that lets people set up and manage networks for
                    themselves and their communities. Learn more about our blockchain-powered router, the
                    communities we’re working in, and our vision for an Internet that works for everyone below.</p>
                <a class="shadow btn btn-light" href="#get-involved" role="button">Get Involved</a>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-stretch">
        <div class="col-12 col-md-4 mb-3">
            <div class="card shadow border-0 h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Faster</h4>
                    <p class="card-text">Althea is faster, because anybody in the community is able to expand and improve the network and get paid for investing in faster equipment.</p>
                    <a href="{{ '/how-it-works' | relative_url }}" class="text-secondary mt-auto">Learn More <i class="align-middle material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card shadow border-0 h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Cheaper</h4>
                    <p class="card-text">Althea's price-aware routing protocol makes sure that traffic takes the cheapest path. Your router gets the best prices, second by second.</p>
                    <a href="{{ '/how-it-works' | relative_url }}" class="text-secondary mt-auto">Learn More <i class="align-middle material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card shadow border-0 h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Decentralized</h4>
                    <p class="card-text">Althea networks are made up of nodes owned by the people who use them. Communities get faster, cheaper internet by cutting out the middleman.</p>
                    <a href="{{ '/how-it-works' | relative_url }}" class="text-secondary mt-auto">Learn More <i class="align-middle material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>
    </div>
</div>