<div class="bg-yellow w-100">
  <div class="container section">
      <div class="jumbotron">
          <div class="row">
              <div class="col-12">
                  <h1>Faster, cheaper, decentralized Internet</h1>
  <p class="text-light" style="text-shadow: 0px 0px 10px #000">Althea enables routers to pay each other for bandwidth, making it easy for communities to set up networks which are faster and cheaper than the existing ISP monopolies. Learn more about our blockchain-powered router, the
                      communities we’re working in, and our vision for an Internet that works for everyone below.</p>
                  <a class="shadow btn btn-light" href="#get-involved" role="button">Get Involved</a>
              </div>
          </div>
      </div>
  </div>
</div>
