<nav class="navbar navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
          <picture>
          <source srcset="{{ '/images/wordmark.webp' | relative_url }}" type="image/webp">
          <source srcset="{{ '/images/wordmark.png' | relative_url }}" type="image/png"> 
          <img width="120" src="{{ '/images/wordmark.png | relative_url }}" alt="Althea" />
          </picture>
        </a>
        <div>
            <div class="dropdown d-inline-block">
                <a class="btn btn-light mr-1 dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="https://medium.com/althea-mesh">Blog</a>
                    <a class="dropdown-item" href="https://discord.gg/vw8twzR">Chat</a>
                    <a class="dropdown-item" href="{{ '/whitepaper' | relative_url }}">Whitepaper</a>
                    <a class="dropdown-item" href="https://forum.altheamesh.com/c/education-and-resources">Documentation</a>
                </div>
            </div>

            <a class="shadow btn btn-primary" href="{{ '/#get-involved' | relative_url }}" role="button">Get Involved</a>
        </div>
    </div>
</nav>
