<nav class="navbar navbar-light bg-yellow">
    <div class="container">
        <a style="font-size: 24px; font-weight: bold;" class="navbar-brand" href="{{ '/' | relative_url }}">
          Althea
        </a>
        <div class="top-nav">
            <a class="btn" href="{{ '/#get-involved' | relative_url }}" role="button">About</a>
            <a class="btn" href="{{ '/#get-involved' | relative_url }}" role="button">How it works</a>
            <a class="btn" href="{{ '/#get-involved' | relative_url }}" role="button">Cases</a>
            <a class="btn" href="{{ '/#get-involved' | relative_url }}" role="button">Blog</a>
            <a class="btn btn-primary" href="{{ '/#get-involved' | relative_url }}" role="button">Get Involved</a>
        </div>
    </div>
</nav>
