<div class="row section align-items-center">
    <div class="col-6 pr-5">
        <div class="rounded" style="overflow: hidden">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/IyFEYEcHJyA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h1>The Technology</h1>
        <p>The core technology behind Althea is a blockchain-based routing protocol and payment system that debits and credits cryptocurrency based on a router’s bandwidth usage. You can buy a router with our firmware set up and ready to go, or build one yourself—all of our code is open source. </p>
        <div>
            <a class="btn shadow btn-light align-self-end mr-2" href="#" role="button">Read the whitepaper</a>
            <a class="btn shadow btn-primary align-self-end" href="#" role="button">Learn More</a>
        </div>
    </div>
</div>