<div class="row section pb-4">
    <div class="col-12">
        <h1>The Technology</h1>
    </div>

    <div class="col-12">
        <img class="img-fluid" src="/images/basic-diagram.png" />
    </div>

    <div class="col-12 col-sm-4 mt-3">
        <h2>1</h2> End users load up their device or wifi router with blockchain tokens to pay for internet access.
    </div>
    <div class="col-12 col-sm-4 mt-3">
        <h2>2</h2> A mesh of rooftop transmitters forward packets. They earn tokens and compete to provide service.
    </div>
    <div class="col-12 col-sm-4 mt-3">
        <h2>3</h2> Uplinks act as gateways to the internet, also earning tokens, competing with other uplinks in the area.
    </div>
</div>

<div class="row section">
    <div class="col-12 col-sm-6 mb-3 pr-lg-5">
        <div class="rounded bg-secondary">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/IyFEYEcHJyA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 mb-3">
        <p class="">The core technology behind Althea is a price-aware routing protocol and blockchain-based payment system that debits and credits cryptocurrency based on a router’s bandwidth usage. The price-aware routing protocol is demonstrated on early prototypes in this video.</p>
        <div class="d-none d-md-block">
            <a class="btn shadow btn-light align-self-end mr-2 mb-2" href="{{ '/whitepaper' | relative_url }}" role="button">Read the whitepaper</a>
            <a class="btn shadow btn-primary align-self-end mb-2" href="{{ '/how-it-works' | relative_url }}" role="button">Learn More</a>
        </div>
    </div>
    <div class="col-12 d-md-none">
        <a class="btn shadow btn-light align-self-end mr-2 mb-2" href="{{ '/whitepaper' | relative_url }}" role="button">Read the whitepaper</a>
        <a class="btn shadow btn-primary align-self-end mb-2" href="{{ '/how-it-works' | relative_url }}" role="button">Learn More</a>
    </div>
</div>